.imgFluid {
    max-width: 100%;
}

.dFlex {
    display: flex;
}

.alignCenter {
    justify-content: center;
}
.alignLeft {
    justify-content: start;
}
.alignRight {
    justify-content: end;
}

.alignItemsCenter {
    align-items: center;
}

.alignItemsEnd {
    align-items: end;
}
.alignItemsTop {
    align-items: top;
}
.center{
    text-align: center;
}